name: Backend CI

on:
  push:
    branches: [ main ]
    paths: [ 'backend/**', '.github/workflows/backend.yml' ]
  pull_request:
    branches: [ main ]
    paths: [ 'backend/**', '.github/workflows/backend.yml' ]

jobs:
  linting-and-formatting:
    name: Linting & Formatting

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'

      - name: Install project dependencies
        run: npm run install:ci:backend

      - name: Run formatting check
        run: npm run format:check:backend

      - name: Run linting check
        run: npm run lint:check:backend

  tests:
    name: Tests

    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          extensions: mbstring, dom, curl, libxml, mysql
          coverage: xdebug

      - name: Install project dependencies
        run: npm run install:ci:backend

      - name: Setup project environment
        run: |
          cd backend
          cp .env.example .env.testing
          php artisan key:generate --env=testing

      - name: Run tests with coverage
        run: npm run test:coverage:backend
        env:
          APP_ENV: testing
          DB_CONNECTION: mysql
          DB_HOST: 127.0.0.1
          DB_PORT: 3307
          DB_DATABASE: kanban_board_testing
          DB_USERNAME: user_testing
          DB_PASSWORD: 123456

      - name: Report Coverage (as comment on PR)
        if: github.event_name == 'pull_request'
        uses: lucassabreu/comment-coverage-clover@main
        with:
          file: backend/coverage/coverage.xml