name: Frontend CI

on:
  push:
    branches: [ main ]
    paths: [ 'frontend/**', '.github/workflows/frontend.yml' ]
  pull_request:
    branches: [ main ]
    paths: [ 'frontend/**', '.github/workflows/frontend.yml' ]

permissions:
  pull-requests: write

jobs:
  lint-and-typecheck:
    name: Lint & Typecheck

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'

      - name: Install dependencies
        run: cd frontend && npm ci

      - name: Run ESLint
        run: cd frontend && npm run eslint:check

      - name: Run Prettier
        run: cd frontend && npm run prettier:check

      - name: Run typecheck
        run: cd frontend && npm run tsc:build

  unit-tests:
    name: Unit Tests

    runs-on: ubuntu-latest

    needs: lint-and-typecheck

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'

      - name: Install dependencies
        run: cd frontend && npm ci

      - name: Run unit tests
        run: cd frontend && npm run coverage

      - name: Report Vitest Coverage
        if: always() # Report results even if tests fail
        uses: davelosert/vitest-coverage-report-action@v2
        with:
          json-summary-path: frontend/coverage/coverage-summary.json
          json-final-path: frontend/coverage/coverage-final.json

  e2e-tests:
    name: E2E Tests

    runs-on: ubuntu-latest

    needs: unit-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'

      - name: Install dependencies
        run: cd frontend && npm ci

      - name: Install Playwright browsers
        run: cd frontend && npx playwright install --with-deps

      - name: Build application
        run: cd frontend && npm run build

      - name: Start application and run E2E tests
        run: cd frontend && npm run test:e2e

      - name: Report Playwright Results
        if: always() # Report results even if tests fail
        uses: daun/playwright-report-summary@v3
        with:
          report-file: frontend/playwright-report/results.json
